/* header のスタイル */
header {
    display: flex;
    justify-content: space-between;
    animation-name: fade-in;
    animation-duration: 1s;
    /* github pagesのため、/wolf0023server/images/~ を追加 */
    background-image: url("/wolf0023server/images/header.png");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 40px;
    min-height: 210px;
}
.header-title {
    display: block;
    margin-left: 10%;
}
.header-title img {
    width: 64px;
    height: 64px;
}
.header-title h1 {
    width: 500px;
    margin-top: 10px;
    margin-left: 60px;
    color: gold;
}
.header-play {
    display: block;
    text-align: center;
    margin-right: 15%;
    margin-top: 2%;
}
.header-play button {
    color: orange;
    border: orange 4px solid;
    background-color: rgba(255, 165, 0, 0.2);
    width: 140px;
    height: 140px;
    font-size: 200%;
    border-radius: 50%;
    cursor: pointer;
}
.header-play button:hover {
    background-color: rgba(255, 165, 0, 0.5);
}
.header-play p {
    color:lightsalmon;
    font-weight: bold;
    line-height: 1.0;
    font-size: 60%;
    width: 300px;
}


/* footer のスタイル */
footer{
    background-color: whitesmoke;
    padding-top: 60px;
    padding-bottom: 2px;
}
footer p {
    color: dimgrey;
    text-align: right;
    font-size: 80%;
    margin-right: 10px;
}

@keyframes fade-in {
    from {opacity: 0.6;}
    to {opacity: 1;}
}