/* nav のスタイル */
nav {
    background-color: whitesmoke;
    text-align: center;
    min-width: 960px;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    padding: 0 30px;
    margin: 6px 0;
    
}
nav ul li:not(:last-child) {
    border-right: 2px solid lightgray;
}
nav ul li a {
    color: darkturquoise;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:focus {
    outline: none;
}
nav ul li a:hover {
    color: gold;
}