/* nav のスタイル */
nav {
    background-color: whitesmoke;
    text-align: center;
    height: 36px;
    min-width: 900px;
}
nav ul {
    list-style: none;
    padding: 0 auto;
    margin: 0 auto;
}
nav li {
    display: inline-block;
    margin: 6px 30px;
}
nav a {
    color: darkturquoise;
    text-decoration: none;
    font-weight: bold;
}
nav a:focus {
    outline: none;
}
nav a:hover {
    color: gold;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}