@charset "utf-8";

/* 全体*/
html, body {    
    min-width: 960px;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/* main要素*/
main {
    margin-top: 20px;
    margin-bottom: 12px;
    min-height: 40vh;
}
main p {
    color: wheat;
    text-align: center;
}
main h2 {
    text-align: center;
}
.page-title{
    color:sandybrown;
    border: khaki solid 3px;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 5px 0;
    border-radius: 20px;
    width: 430px;
    margin: auto auto;
}
.page-subtitle{
    color: wheat;
    margin-bottom: 40px;
    font-size: 110%;
    line-height: 16px
}

/* ホームページのスタイル */
.home-title{
    color: goldenrod;
    font-size: 200%;
}
.home-image{
    display: block;
    /* github pagesのため、フルパスで指定 */
    background-image: url("/wolf0023server/images/home.png");
    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding-top: 1px;
    padding-bottom: 34%;
    margin: 0 16%;
}
.home-image p{
    color: cadetblue;
    font-size: 120%;
}

/* 404ページのスタイル */
.error-404 {
    margin: 30px;
}
.error-404 h2 {
    color: tomato;
    text-align: center;
    font-weight: bold;
}

/* ルールページのスタイル */
.rules {
    margin: auto 40px;
}
.rules p {
    margin: 0;
    color: black;
    text-align: left;
}