@charset "utf-8";

/* 全体*/
html, body {
    min-width: 960px;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/* main要素*/
main {
    flex: 1;
    min-height: 100vh;
}
main p {
    color: wheat;
    text-align: center;
}
main h2 {
    text-align: center;
}
.page-title{
    color:sandybrown;
    border: khaki solid 3px;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 5px 0;
    border-radius: 20px;
    width: 400px;
    margin: 20px auto;
}
.page-subtitle{
    color: wheat;
    margin-bottom: 40px;
    font-size: 110%;
}

/* ホームページのスタイル */
.home-title{
    color: goldenrod;
    font-size: 200%;
}
.home-image{
    display: block;
    background-image: url("/images/home.png");
    background-color: snow;
    background-position: center;
    background-size: cover;
    padding-top: 1px;
    padding-bottom: 34%;
    margin: 0 16%;
}
.home-image p{
    color: cadetblue;
    font-size: 120%;
}

/* 404ページのスタイル */
.error-404 {
    margin: 30px;
}
.error-404 h2 {
    color: tomato;
    text-align: center;
    font-weight: bold;
}

/* ルールページのスタイル */
.rules {
    margin: auto 40px;
}
.rules p {
    margin: 0;
    color: black;
    text-align: left;
}